nav {
    padding-inline: 35px !important;
}


ul li {
    color: black;
    font-weight: bold;
}

.home {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    font-family: Poppins;
    color: #000;
    text-align: left;
}
 .active
{
    border-bottom: 2px solid #c3262c;
}


.nav-link
{
    padding-top: 0.6rem !important;
}

.navbar-nav 
{
    --bs-nav-link-padding-y: 0.2rem !important;
}

@media (max-width:768px) {
    nav {
        padding-inline: 0px !important;
    }
}