<div class="container-fluid">
    <section style="height: 100vh;">
        <div class="container-fluid " style="background-color: #f5f5f5; border-radius: 25px 25px 25px 25px;
        ">

            <div class="row py-5 px-5 align-items-center">
                <div class="col-md-6 col-sm-12">
                    <div>
                        <h1 class="" style="color: #001e49; font-size:50px; font-weight: 900;">One stop solution <br>
                            <span style="color: #c3262c;">for
                                all logistic needs</span>
                        </h1>
                    </div>
                    <div>
                        <h6 class="my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <br>
                            Cras hendrerit eu sapien in sollicitudin.
                        </h6>
                    </div>
                    <div class="d-flex">
                        <div>

                            <img src="assets/google-play.png" style="height: 50px;" class="img-fluid me-3" alt="">
                        </div>
                        <div>

                            <img src="assets/App-Store.png" style="height: 50px;" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center d-none d-md-block">

                    <img class="" style="margin-bottom: -140px;" src="assets/mobile.png" alt="">

                </div>
            </div>



        </div>


    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-12">
                    <div style="box-shadow: 0px 0px 10px 0px rgba(160, 154, 154, 0.75);
                    ">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs ">
                            <li [ngbNavItem]="1" class="w-50 " style="text-align: -webkit-center;">
                                <button ngbNavLink class="text-center w-100 border-0" style=" border-top-left-radius: 0px !important;
                                border-top-right-radius: 0px !important">Find a load</button>
                                <ng-template ngbNavContent>
                                    <form action="" class="m-3" id="mainform">

                                        <div class="row g-3 align-items-center pb-3">
                                            <div class="col-12 col-md-5">
                                                <label for="" class="form-label">Pick up location</label>
                                                <input type="text" class="form-control border-0"
                                                    style="background-color: white;font-weight: 800;"
                                                    placeholder="Select a location" value="Mumbai">
                                            </div>
                                            <div class="col-md-auto text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <label for="" class="form-label">Drop location</label>
                                                <input type="text" class="form-control border-0"
                                                    style="background-color: white;font-weight: 800"
                                                    placeholder="Select a destination">
                                            </div>
                                            <div class="col-md-auto text-center">

                                                <button class="btn"
                                                    style="background-color: #001e49;color: white;">Search <i
                                                        class="fa-solid fa-arrow-right"></i></button>
                                            </div>
                                        </div>

                                    </form>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" class="w-50" style="text-align: -webkit-center;">
                                <button ngbNavLink class="text-center w-100 border-0" style=" border-top-left-radius: 0px !important;
                                border-top-right-radius: 0px !important">Book a lorry</button>
                                <ng-template ngbNavContent>
                                    <form action="" class="m-3">

                                        <div class="row g-3 align-items-center pb-3">
                                            <div class="col-12 col-md-5">
                                                <label for="" class="form-label">Pick up location</label>
                                                <input type="text" class="form-control border-0"
                                                    style="background-color: white;" placeholder="First name"
                                                    aria-label="First name">
                                            </div>
                                            <div class="col-md-auto">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <label for="" class="form-label">Drop location</label>
                                                <input type="text" class="form-control border-0"
                                                    style="background-color: white;" placeholder="Last name"
                                                    aria-label="Last name">
                                            </div>
                                            <div class="col-md-auto text-end">

                                                <button class="btn"
                                                    style="background-color: #001e49;color: white;">Search <i
                                                        class="fa-solid fa-arrow-right"></i></button>
                                            </div>
                                        </div>

                                    </form>
                                </ng-template>
                            </li>

                        </ul>

                        <div [ngbNavOutlet]="nav" class="mt-2"></div>


                    </div>
                </div>
                <div class="col-md"></div>
            </div>
        </div>

    </section>





    <section class="my-5">
        <div class="text-center">
            <h4>Why we are?</h4>
        </div>
        <div class="text-center">
            <h1 class="fw-bolder text-danger">We are India s fastest growing community</h1>
        </div>
        <div class="d-flex flex-wrap justify-content-center">

            <div class="card mb-3 " style="width: 18rem;box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);">
                <div class="card-body">
                    <h5 class="card-title text-center">3000+</h5>
                    <h6 class="card-subtitle mb-2 text-center text-body-secondary">t r a n s p o r t e r s</h6>


                    <div>
                        <hr>
                    </div>
                    <div class="text-center">
                        <a href="#" class="card-link "><img src="assets/people.png" alt="" srcset=""></a>
                    </div>

                </div>
            </div>

            <div class="card mb-3 mx-3" style="width: 18rem;box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);">
                <div class="card-body">
                    <h5 class="card-title text-center">690+</h5>
                    <h6 class="card-subtitle mb-2 text-center text-body-secondary">l o c a t i o n s c o v e r e d</h6>
                    <div>
                        <hr>
                    </div>
                    <div class="text-center">
                        <a href="#" class="card-link "><img src="assets/people.png" alt="" srcset=""></a>
                    </div>

                </div>
            </div>
            <div class="card mb-3 " style="width: 18rem; box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);">
                <div class="card-body">
                    <h5 class="card-title text-center">3000+</h5>
                    <h6 class="card-subtitle mb-2 text-center text-body-secondary">t r a n s p o r t e r s</h6>
                    <div>
                        <hr>
                    </div>
                    <div class="text-center">
                        <a href="#" class="card-link "><img src="assets/people.png" alt="" srcset=""></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="my-5">
        <div class="text-center">
            <h4>Why choose us?</h4>
        </div>
        <div class="text-center">
            <h1 class="fw-bolder text-danger">Because we are lorem ipsum a massatis</h1>
        </div>

        <div class="text-center">
            <img src="assets/choose1.png" alt="">
            <img src="assets/choose1.png" alt="">
            <img src="assets/choose1.png" alt="">
        </div>
    </section>


    <section id="slider">
        <div class="container mb-5">
            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-10">
                    <div class="text-center">
                        <h4>Want to know more?</h4>
                    </div>
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder text-danger">Here s what our user s say about us</h1>
                    </div>

                    <swiper #swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="config">
                        <ng-template swiperSlide *ngFor="let item of slides">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card border-0 mb-3">
                                        <img src="{{item.image}}" height="300" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="col-md-6">


                                    <div class="card h-100 border-0">
                                        <h4 class="fw-bold">Mr. Ramesh Tekchandani</h4>
                                        <h5 class="text-secondary">Director, Mamta Traders</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                            nisi est, ullamcorper condimentum enim ut.
                                        <p>
                                        <p>Donec orci augue, imperdiet nec mi vitae, mollis tincidunt
                                            ligula. Vestibulum nec condimentum mi. Nulla aliquet ornare
                                            nisl, vitae blandit nisi pulvinar luctus</p>
                                        <!-- <div>
                                            <button (click)="slidePrev()">Prev slide</button>
                                            <button (click)="slideNext()">Next slide</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </ng-template>


                    </swiper>
                </div>
                <div class="col-md"></div>
            </div>
        </div>
    </section>





    <section>
        <div class="card py-5" id="footer">
            <div class="card-body">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h1>Help us help you <br>
                                    <span style="color: white;">Join us today</span>
                                </h1>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Eos perspiciatis
                                    debitis
                                    vel adipisci .
                                </p>
                            </div>
                            <div class="d-flex">
                                <div>

                                    <img src="assets/google-play.png" style="height: 50px;" class="img-fluid me-3"
                                        alt="">
                                </div>
                                <div>

                                    <img src="assets/App-Store.png" style="height: 50px;" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div>
                                <hr class="hr1">
                            </div>
                            <div>
                                <ul class="list-unstyled d-flex flex-wrap mt-3" id="list">
                                    <li>Disclaimer</li>
                                    <li class="mx-3">Privercy Policy</li>
                                    <li>Term of use</li>
                                    <li class="mx-3">Careers</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h3 class="text-light">Get In touch</h3>
                            </div>
                            <form action="" class="text-center">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea type="text" class="form-control" placeholder="Email"></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <div class="mt-3 d-flex justify-content-between">
                                <div>

                                    <p>Our Social Presence</p>
                                </div>

                                <div>
                                    <i class="fa-brands fa-linkedin fs-3"></i>
                                    <i class="fa-brands fa-instagram mx-3 fs-3"></i>
                                    <i class="fa-brands fa-facebook fs-3"></i>
                                    <i class="fa-brands fa-whatsapp fs-3 mx-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>