<div class="brand-website-2023">
    <div class="logo">
    </div>
    <div class="header">
        <img class="layer-1-icon" alt="" src="assets/logo.jpg">

        <img class="objects-icon" alt="" src="assets/objects.svg">

        <div class="frame-parent">
            <div class="frame-group">
                <div class="one-stop-solution-parent">
                    <div class="one-stop-solution">One stop solution</div>
                    <div class="for-all-logistic">for all logistic needs</div>
                </div>
                <div class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    hendrerit eu sapien in sollicitudin.</div>
            </div>
            <div class="storelabels-parent">
                <img class="storelabels-icon" alt="" src="assets/google-play.png">

                <img class="storelabels-icon1" alt="" src="assets/App-Store.png">

            </div>
            <div class="a">a</div>
        </div>
        <img class="k-icon" alt="" src="assets/K.svg">

    </div>



    <div class="footer">
        <div class="frame-container">
            <div class="frame-parent4">
                <div class="one-stop-solution-parent">
                    <div class="help-us-help">Help us help you</div>
                    <div class="join-us-today">Join us today</div>
                </div>
                <div class="lorem-ipsum-dolor1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    hendrerit eu sapien in sollicitudin.</div>
            </div>
            <div class="storelabels-parent">
                <img class="storelabels-icon" alt="" src="assets/StoreLabels.svg">

                <img class="storelabels-icon1" alt="" src="assets/StoreLabels (1).svg">

            </div>
            <img class="separator-icon" alt="" src="Separator.svg">

            <div class="frame-parent5">
                <div class="disclaimer-parent">
                    <div class="disclaimer">Disclaimer</div>
                    <div class="disclaimer">Privacy policy</div>
                    <div class="disclaimer">Terms of use</div>
                    <div class="disclaimer">Careers</div>
                </div>
                <div class="social-media-parent">
                    <div class="social-media">
                        <div class="logo-container">
                        </div>
                        <img class="group-icon" alt="" src="Group.svg">
                    </div>
                    <img class="social-media" alt="" src="assets/Social Media.svg">
                    <div class="social-media">
                        <div class="logo-container1">
                        </div>
                        <img class="capa-2-icon" alt="" src="Capa 2.svg">
                    </div>
                    <img class="social-media" alt="" src="Social Media.svg">
                </div>
            </div>
        </div>
        <img class="k-icon3" alt="" src="assets/K.svg">

        <div class="frame-parent6">
            <div class="frame-parent7">
                <div class="get-in-touch-parent">
                    <b class="get-in-touch">Get in touch</b>
                    <div class="input-field-02-parent">
                        <div class="input-field-02">
                            <div class="form">
                                <div class="form-text">
                                    <div class="eg-placeholder">Name</div>
                                </div>
                            </div>
                            <div class="bottom-message">
                            </div>
                        </div>
                        <div class="input-field-02">
                            <div class="form">
                                <div class="form-text">
                                    <div class="eg-placeholder">Email</div>
                                </div>
                            </div>
                            <div class="bottom-message">
                            </div>
                        </div>
                        <div class="input-field-022">
                            <div class="form2">
                                <div class="form-text">
                                    <div class="eg-placeholder">Enter message (300 characters max)</div>
                                </div>
                            </div>
                            <div class="bottom-message">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cta-button-02">
                    <div class="button">Submit</div>
                </div>
            </div>
            <div class="frame-parent8">
                <div class="our-social-presence-parent">
                    <div class="our-social-presence">Our social presence</div>
                    <div class="privacy-policy1">Privacy policy</div>
                </div>
                <div class="disclaimer-parent">
                  
                    <img class="social-media" alt="" src="assets/Social Media.svg">
                    <img class="social-media" alt="" src="assets/Social Media(1).svg">

                    <div class="social-media">
                        <div class="logo-container">
                        </div>
                        <img class="capa-2-icon" alt="" src="assets/Capa 2.svg">
                    </div>
                    <img class="social-media" alt="" src="assets/Social Media(4).svg">

                </div>
            </div>
        </div>
    </div>
    <div class="k">
    </div>
    <img class="k-icon4" alt="" src="assets/K.svg">

    <img class="k-icon5" alt="" src="assets/K.svg">

    <div class="shadow01">
        <img class="vuesaxoutlinearrow-down-icon" alt="" src="assets/vuesax/outline/arrow-down.svg">

    </div>
    <img class="iphone-12-mini-black-icon" alt="" src="assets/iphone-12-mini--black.svg">

    <div class="book">
        <div class="search-book-load">
            <div class="tabs-parent">
                <div class="tabs">
                    <b class="find-a-load">Find a load</b>
                </div>
                <div class="tabs1">
                    <b class="find-a-load">Book a lorry</b>
                </div>
            </div>
            <div class="destination-parent">
                <div class="destination">
                    <img class="indication-icon" alt="" src="assets/Indication.svg">

                    <div class="pick-up-location-parent">
                        <div class="pick-up-location">Pick up location</div>
                        <b class="mumbai-maharashtra">Mumbai, Maharashtra</b>
                    </div>
                </div>
                <div class="arrow">
                    <img class="vuesaxoutlinearrow-down-icon" alt="" src="assets/vuesax/outline/arrow-down.svg">

                </div>
                <div class="destination">
                    <img class="indication-icon" alt="" src="assets/Indication.svg">

                    <div class="pick-up-location-parent">
                        <div class="pick-up-location1">Drop location</div>
                        <b class="mumbai-maharashtra1">Select a destination</b>
                    </div>
                </div>
                <div class="cta-button-021">
                    <div class="button">Search</div>
                    <img class="vuesaxoutlinearrow-right-icon" alt="" src="assets/vuesax/outline/arrow-right.svg">

                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img class="image-1-icon" alt="" src="assets/image 1.png">

        <div class="its-our-mission-parent">
            <div class="its-our-mission">It’s our mission</div>
            <div class="that-makes-us">That makes us reliable</div>
        </div>
        <div class="additional-withlabel">
            <div class="additional">
                <img class="play-icon" alt="" src="assets/Play.svg">

            </div>
            <div class="button">Play video</div>
        </div>
    </div>
    <img class="k-icon6" alt="" src="assets/K(1).svg">

    <div class="who">
        <div class="join-indias-biggest-parent">
            <div class="find-a-load">Join India’s biggest</div>
            <b class="and-fastest-growing">And fastest growing community of transport industry</b>
        </div>
        <div class="who-are-we-parent">
            <div class="find-a-load">Who are we?</div>
            <b class="we-are-indias">We are India’s fastest growing community</b>
        </div>
        <div class="india-isometric-parent">
            <img class="india-isometric-icon" alt="" src="assets/India_Isometric.svg">

            <div class="usp-parent" style="z-index: 999;">
                <div class="usp">
                    <div class="parent">
                        <div class="div">3000+</div>
                        <div class="transporters">transporters</div>
                    </div>
                    <img class="separator-icon" alt="" src="Separator.svg">

                    <div class="ellipse-parent">
                        <img class="frame-child" alt="" src="assets/Ellipse 254.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 255.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 257.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 256.svg">

                        <img class="frame-child1" alt="" src="assets/Ellipse 258.svg">

                        <img class="frame-child1" alt="" src="assets/Ellipse 259.svg">

                    </div>
                </div>
                <div class="usp">
                    <div class="parent">
                        <div class="div">690+</div>
                        <div class="transporters">locations covered</div>
                    </div>
                    <img class="separator-icon" alt="" src="Separator.svg">

                    <div class="ellipse-parent">
                        <img class="frame-child" alt="" src="assets/Ellipse 254.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 255.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 257.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 256.svg">

                    </div>
                </div>
                <div class="usp">
                    <div class="parent">
                        <div class="div">72k+</div>
                        <div class="transporters">inquiries till date</div>
                    </div>
                    <img class="separator-icon" alt="" src="Separator.svg">

                    <div class="ellipse-parent">
                        <img class="frame-child" alt="" src="assets/Ellipse 254.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 255.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 257.svg">

                        <img class="frame-item" alt="" src="assets/Ellipse 256.svg">

                    </div>
                </div>
            </div>
        </div>
        <div class="frame-parent9">
            <div class="parent">
                <div class="div3">3000+</div>
                <div class="transporters3">transporters</div>
            </div>
            <img class="separator-icon4" alt="" src="Separator.svg">

            <div class="ellipse-parent1">
                <img class="frame-child" alt="" src="Ellipse 254.png">

                <img class="frame-item" alt="" src="Ellipse 255.png">

                <img class="frame-item" alt="" src="Ellipse 257.png">

                <img class="frame-item" alt="" src="Ellipse 256.png">

            </div>
        </div>
        <div class="frame-parent10">
            <div class="parent">
                <div class="div3">3000+</div>
                <div class="transporters3">transporters</div>
            </div>
            <img class="separator-icon4" alt="" src="Separator.svg">

            <div class="ellipse-parent1">
                <img class="frame-child" alt="" src="Ellipse 254.png">

                <img class="frame-item" alt="" src="Ellipse 255.png">

                <img class="frame-item" alt="" src="Ellipse 257.png">

                <img class="frame-item" alt="" src="Ellipse 256.png">

            </div>
        </div>
        <div class="frame-parent11">
            <div class="parent">
                <div class="div3">3000+</div>
                <div class="transporters3">transporters</div>
            </div>
            <img class="separator-icon4" alt="" src="Separator.svg">

            <div class="ellipse-parent1">
                <img class="frame-child" alt="" src="Ellipse 254.png">

                <img class="frame-item" alt="" src="Ellipse 255.png">

                <img class="frame-item" alt="" src="Ellipse 257.png">

                <img class="frame-item" alt="" src="Ellipse 256.png">

            </div>
        </div>
    </div>
    <div class="testi">
        <div class="join-indias-biggest-group">
            <div class="find-a-load">Join India’s biggest</div>
            <b class="and-fastest-growing">And fastest growing community of transport industry</b>
        </div>
        <div class="want-to-know-more-parent">
            <div class="find-a-load">Want to know more?</div>
            <b class="we-are-indias">Here’s what our user’s say about us</b>
        </div>
        <div class="frame-parent12">
            <div class="frame-parent13">
                <div class="k-parent">
                    <img class="k-icon7" alt="" src="assets/K.svg">

                    <img class="k-icon7" alt="" src="assets/K.svg">

                    <img class="k-icon7" alt="" src="assets/K.svg">

                </div>
                <img class="screenshot-2023-08-05-at-855" alt="" src="assets/Screenshot 2023-08-05 at 8.55 1.png">

            </div>
            <div class="k-group">
                <div class="k1">
                </div>
                <div class="frame-parent14">
                    <div class="frame-group">
                        <img class="image-2-icon" alt="" src="assets/image 2.png">

                        <div class="one-stop-solution-parent">
                            <b class="mr-ramesh-tekchandani">Mr. Ramesh Tekchandani</b>
                            <div class="director-mamta-traders">Director, Mamta Traders</div>
                        </div>
                    </div>
                    <i class="lorem-ipsum-dolor-container">
                        <p class="blank-line">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nisi
                            est, ullamcorper condimentum enim ut.</p>
                        <p class="blank-line">&nbsp;</p>
                        <p class="blank-line">Donec orci augue, imperdiet nec mi vitae, mollis tincidunt ligula.
                            Vestibulum nec condimentum mi. Nulla aliquet ornare nisl, vitae blandit nisi pulvinar
                            luctus.</p>
                    </i>
                </div>
                <div class="frame-parent15">
                    <div class="wrapper">
                        <b class="b">01</b>
                    </div>
                    <div class="frame">
                        <div class="div6">02</div>
                    </div>
                    <div class="frame">
                        <div class="div6">03</div>
                    </div>
                    <div class="frame">
                        <div class="div6">04</div>
                    </div>
                    <div class="frame">
                        <div class="div6">05</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testi1">
        <div class="join-indias-biggest-group">
            <div class="find-a-load">Join India’s biggest</div>
            <b class="and-fastest-growing">And fastest growing community of transport industry</b>
        </div>
        <div class="want-to-know-more-parent">
            <div class="find-a-load">Want to know more?</div>
            <b class="we-are-indias">Here’s what our user’s say about us</b>
        </div>
        <div class="frame-parent16">
            <div class="frame-parent13">
                <div class="k-parent">
                    <img class="k-icon7" alt="" src="assets/K.svg">

                    <img class="k-icon7" alt="" src="assets/K.svg">

                    <img class="k-icon7" alt="" src="assets/K.svg">

                </div>
                <img class="screenshot-2023-08-05-at-855" alt="" src="Screenshot 2023-08-05 at 8.55 1.png">

            </div>
            <div class="k-parent1">
                <div class="k1">
                </div>
                <div class="frame-parent18">
                    <div class="frame-parent19">
                        <div class="k-wrapper">
                            <img class="k-icon13" alt="" src="assets/K.svg">

                        </div>
                        <div class="frame-parent20">
                            <div class="one-stop-solution-parent">
                                <div class="one-stop-solution-parent">
                                    <b class="mr-ramesh-tekchandani">Mr. Ramesh Tekchandani</b>
                                    <div class="director-mamta-traders">Director, Mamta Traders</div>
                                </div>
                            </div>
                            <i class="donec-orci-augue-container">
                                <p class="blank-line">Donec orci augue, imperdiet nec mi vitae, mollis tincidunt
                                    ligula. Ves tibulum nec condimentum mi. Nulla aliquet ornare nisl, vitae</p>
                                <p class="blank-line">blandit nisi pulvinar luctus.</p>
                            </i>
                        </div>
                    </div>
                    <div class="frame-group">
                        <div class="frame-parent19">
                            <div class="k-wrapper">
                                <img class="k-icon13" alt="" src="assets/K.svg">

                            </div>
                            <div class="pick-up-location-parent">
                                <div class="one-stop-solution-parent">
                                    <div class="one-stop-solution-parent">
                                        <div class="mrs-sushma-gangireddy">Mrs. Sushma Gangireddy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-parent19">
                            <div class="k-wrapper">
                                <img class="k-icon13" alt="" src="assets/K.svg">

                            </div>
                            <div class="pick-up-location-parent">
                                <div class="one-stop-solution-parent">
                                    <div class="one-stop-solution-parent">
                                        <div class="mrs-sushma-gangireddy">Mr. Sunny Govind</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-parent19">
                            <div class="k-wrapper">
                                <img class="k-icon13" alt="" src="assets/K.svg">

                            </div>
                            <div class="pick-up-location-parent">
                                <div class="one-stop-solution-parent">
                                    <div class="one-stop-solution-parent">
                                        <div class="mrs-sushma-gangireddy">Mr. Deiptimaan Choudhary</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-parent19">
                            <div class="k-wrapper">
                                <img class="k-icon13" alt="" src="assets/K.svg">

                            </div>
                            <div class="pick-up-location-parent">
                                <div class="one-stop-solution-parent">
                                    <div class="one-stop-solution-parent">
                                        <div class="mrs-sushma-gangireddy">Mrs. Vikram Kanabar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why">
        <div class="why-choose-us-parent">
            <div class="find-a-load">Why choose us?</div>
            <b class="we-are-indias">Because we are lorem ipsum a massatis</b>
        </div>
        <div class="iphone-13-mini-11-1-parent">
            <img class="iphone-13-mini-11-1" alt="" src="assets/iPhone 13 mini - 11 1.svg">

            <img class="iphone-12-mini-black-icon1" alt="" src="assets/iphone-12-mini--black(1).svg">

            <img class="iphone-13-mini-11-1" alt="" src="assets/iPhone 13 mini - 11 2.svg">

        </div>

    </div>
    <img class="feed-1-1-icon" alt="" src="Feed-1 1.png">

    <img class="feed-1-icon" alt="" src="Feed 1.png">

    <div class="topnav">
        <img class="logo-icon" alt="" src="assets/Logo.svg">

        <div class="nav-parent">
            <div class="nav">
                <div class="navitem">
                    <div class="button">Home</div>
                </div>
                <div class="navitem1">
                    <div class="button">Services</div>
                    <img class="vuesaxtwotonearrow-down-icon" alt="" src="assets/vuesax/twotone/arrow-down.svg">

                </div>
                <div class="navitem2">
                    <div class="button">Marketplace</div>
                </div>
                <div class="navitem2">
                    <div class="button">Transport directory</div>
                </div>
                <div class="navitem1">
                    <div class="button">About TKD</div>
                    <img class="vuesaxtwotonearrow-down-icon" alt="" src="assets/vuesax/twotone/arrow-down.svg">

                </div>
                <div class="navitem1">
                    <div class="button">Resources</div>
                    <img class="vuesaxtwotonearrow-down-icon" alt="" src="assets/vuesax/twotone/arrow-down.svg">

                </div>
            </div>
            <div class="cta-button-022">
                <div class="button">Login / Register</div>
            </div>
        </div>
    </div>
</div>