<section>
    <div class="card mainCard">
        <div class="container-fluid" >

            <div class="row mainrow">
                <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7">
                    <div class="one-stop-solution"> One stop solution</div>
                    <div class="for-all-logistic">for all logistic needs</div>
                    <div class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Cras
                        hendrerit eu sapien in sollicitudin.</div>
                    <div class="storelabels-parent">
                        <img src="assets/StoreLabels.svg" class="img-fluid" alt="" srcset="">
                        <img src="assets/StoreLabels (1).svg" class="img-fluid" alt="" srcset="">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-5 col-lg-5 col-md-5 text-center"  data-aos="zoom-in"
                    data-aos-duration="1000">
                    <img src="assets/iphone-12-mini--black.svg"  class="mobile-image" alt="" srcset="">
                </div>

            </div>
            <div class="imageK">
                <img src="assets/K.svg" alt="" srcset="">
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <img class="vuesaxoutlinearrow-down-icon" alt="" src="assets/vuesax/outline/arrow-down.svg">
    </div>
</section>

<section data-aos="fade-down" data-aos-duration="1000">
    <div class="container-fluid">
        <div class="mainTabs">

            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-12">
                    <div class="tabbox">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs ">
                            <li [ngbNavItem]="1">
                                <button ngbNavLink>Find a load</button>
                                <ng-template ngbNavContent>
                                    <form action="" class="m-3" id="mainform">

                                        <div class="row g-3 align-items-center pb-3">
                                            <div class="col-12 col-md-5">
                                                <label for="" class="form-label"><img src="assets/Indication.svg" alt=""
                                                        class="indicators" srcset=""> Pick up location</label>
                                                <input type="text" class="form-control" placeholder="Select a location"
                                                    value="Mumbai, Maharashtra">
                                            </div>
                                            <div class="col-md-auto text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                            <div class="col-12 col-md">
                                                <label for="" class="form-label"> <img src="assets/Indication.svg"
                                                        alt="" class="indicators" srcset="">Drop location</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Select a destination">
                                            </div>
                                            <div class="col-md-auto ">

                                                <button class="btn">Search
                                                    <i class="fa-solid fa-arrow-right"></i></button>
                                            </div>
                                        </div>

                                    </form>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <button ngbNavLink> Book a lorry</button>
                                <ng-template ngbNavContent>
                                    <form action="" class="m-3" id="mainform">

                                        <div class="row g-3 align-items-center pb-3">
                                            <div class="col-12 col-md-5">
                                                <label for="" class="form-label"> <img src="assets/Indication.svg"
                                                        alt="" class="indicators" srcset="">Pick up location</label>
                                                <input type="text" class="form-control" placeholder="Select a location"
                                                    value="Mumbai, Maharashtra">
                                            </div>
                                            <div class="col-md-auto text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                            <div class="col-12 col-md">
                                                <label for="" class="form-label"> <img src="assets/Indication.svg"
                                                        alt="" class="indicators" srcset="">Drop location</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Select a destination">
                                            </div>
                                            <div class="col-md-auto text-center">

                                                <button class="btn"
                                                    style="background-color: #001e49;color: white;">Search
                                                    <i class="fa-solid fa-arrow-right"></i></button>
                                            </div>
                                        </div>

                                    </form>
                                </ng-template>
                            </li>

                        </ul>

                        <div [ngbNavOutlet]="nav" class="mt-2"></div>


                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</section>



<section>
    <div class="container-fluid">

        <div class="who">
            <div class="who-are-we" data-aos="fade-down" data-aos-duration="1000">
                Who are we?
            </div>
            <div class="we-are-indias" data-aos="fade-down" data-aos-duration="1000">
                <b class="we-are-indias">We are India’s fastest growing community</b>
            </div>
            <div class="mapimage" data-aos="fade-up" data-aos-duration="1000">
                <img src="assets/India_Isometric.svg" alt="" class="img-fluid" srcset="">
            </div>


            <div class=" row allcards" data-aos="fade-down" data-aos-duration="1000">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg col-md " *ngFor="let item of allcards">
                    <div class="card  threeCards mb-3">
                        <div class="card-body p-0">
                            <h5 class="card-title mainNumber">{{item.number}}</h5>
                            <h6 class="card-subtitle transporters">{{item.name}}</h6>
                            <div class="border mt-3 w-25 mx-auto">

                            </div>
                            <div class="peopleImages">
                                <img *ngFor="let item1 of item.images,index as i" [ngClass]="{'frame-item': i >= 1}"
                                    [src]="item1" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1"></div>

            </div>


        </div>
    </div>
</section>

<section>
    <div class="container-fluid">

        <div class="why">
            <div class="why-choose-us" data-aos="fade-down" data-aos-duration="1000">Why choose us?</div>
            <div class="because-we-are" data-aos="fade-down" data-aos-duration="1000"><b>Because we are lorem ipsum a
                    massatis</b></div>
            <!-- <div class="row justify-content-center"> -->
            <!-- <div class="col-md-4 col-sm-12 allimages text-center " *ngFor="let item of images,index as i ">
                    <img [src]="item.img"  class=" mobileImages m-0 p-0" [ngClass]="{'middleImage':(i===0 || i===2)}" alt=""
                        srcset="">
                </div> -->
            <div>
                <img src="assets/Frame 30.svg" style=" position: relative;z-index: 2;" class="img-fluid" alt=""
                    srcset="">
            </div>
            <!-- </div> -->
            <div class="Kimage d-none  d-md-none d-lg-block "  data-aos="zoom-in-up" data-aos-duration="1000">
                <img src="assets/K(1).svg" alt="" class="img-fluid" srcset="">
            </div>
        </div>
    </div>
</section>
<section data-aos="zoom-in" data-aos-duration="1000">
    <div class="container-fluid">
        <div class="video">
            <div class="image">

                <img src="assets/image 1.svg" class="img-fluid" alt="" srcset="">
                <div class="textinframe">
                    <div class="its-our-mission">It’s our mission</div>
                    <div class="that-makes-us">That makes us reliable</div>
                </div>
                <div class="playButton">
                    <img src="assets/Play.svg" class="img-fluid mb-2" alt="" srcset="">
                    <p class="add-images-at p-0">Play Video</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container-fluid">

        <div class="testi">
            <div>
                <div class="want-to-know" data-aos="fade-down" data-aos-duration="1000">Want to know more?</div>
                <div class="heres-what-our" data-aos="fade-down" data-aos-duration="1000"><b>Here’s what our user’s say
                        about us</b></div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-12">
                        <swiper #swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="config">
                            <ng-template swiperSlide *ngFor="let item of slides">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card border-0 mb-3">
                                            <img src="{{item.image}}" height="300" alt="" srcset="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">


                                        <div class="card h-100 border-0">
                                            <div class="mb-2">
                                                <img src="assets/company.svg" class="img-fluid" alt="" srcset="">
                                            </div>
                                            <div class="mr-ramesh-tekchandani"><b>Mr. Ramesh Tekchandani</b></div>
                                            <div class="director-mamta-traders">Director, Mamta Traders</div>
                                            <div class="lorem-ipsum-dolor-container">
                                                <p class="lorem-ipsum-dolor1">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Integer nisi est, ullamcorper condimentum enim ut.
                                                </p>
                                                <p class="lorem-ipsum-dolor1">&nbsp;</p>
                                                <p class="lorem-ipsum-dolor1">Donec orci augue, imperdiet nec mi vitae,
                                                    mollis tincidunt ligula. Vestibulum nec condimentum mi. Nulla
                                                    aliquet ornare nisl, vitae blandit nisi pulvinar luctus.</p>
                                                <div class="frame">
                                                    <img src="assets/Frame 35.svg" alt="" srcset="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ng-template>


                        </swiper>
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up" data-aos-duration="1000">
    <div class="footer">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-6">
                    <div class="help-us-help">Help us help you</div>
                    <div class="join-us-today">Join us today</div>
                    <div class="lorem-ipsum-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Cras
                        hendrerit eu sapien in sollicitudin.</div>
                    <div class="playimages">
                        <img src="assets/StoreLabels.svg" alt="" srcset="">
                        <img src="assets/StoreLabels (1).svg" style="margin-left: 12px;" alt="" srcset="">
                    </div>
                    <div class="disclaimer-parent">
                        <div><a href="" class="disclaimer">Disclaimer</a></div>
                        <div><a href="" class="disclaimer">Privacy policy</a></div>
                        <div><a href="" class="disclaimer">Terms of use</a></div>
                        <div><a href="" class="disclaimer">Careers</a></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <b class="get-in-touch">Get in touch</b>
                    <form action="" class="contactform">
                        <form class="row g-3">
                            <div class="col-md-12">
                                <input type="text" class="form-control form-input nameInput " placeholder="Name">
                            </div>
                            <div class="col-md-12">
                                <input type="email" placeholder="Email" class="form-control form-input emailInput">
                            </div>
                            <div class="col-12">
                                <textarea type="text" rows="3" class="form-control form-input"
                                    placeholder="Enter Message (300 character max)"></textarea>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn submitButton">Submit</button>
                            </div>
                        </form>
                        <div class="socialclass">
                            <div class="our-social-presence">Our social presence</div>
                            <div>
                                <img src="assets/Social Media.svg" class="img-fluid" alt="" srcset="">
                                <img src="assets/Social Media(1).svg" class="img-fluid iconClasses" alt="" srcset="">
                                <img src="assets/Social Media(2).svg" class="img-fluid iconClasses" alt="" srcset="">
                                <img src="assets/Social Media(4).svg" class="img-fluid iconClasses" alt="" srcset="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="imageK">
            <img src="assets/K.svg" alt="" srcset="">
        </div>
    </div>

</section>