<div class="modal-header border-0">
    <h4 class="modal-title">Refund Policy</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>No Refunds : We are offering an annual package system, so we will not issue refunds once you have selected the package. 
        If you have any questions about our refund policy or require further clarification, please contact us at <a href="mailto:support@tkdconnect.com.">support@tkdconnect.com.</a></p>
</div>
<div class="modal-footer border-0">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>