<div class="container bootstrap snippets bootdey" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">
        <div class="col-lg-6">
            <div class="section-title my-5">
                <h2>Our Solutions</h2>
                <!-- <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p> -->
            </div>
        </div>
    </div>
    <section id="news" class="white-bg padding-top-bottom my-2">
        <div class="container bootstrap snippets bootdey">

            <div class="timeline">

                <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">

                            <h2 class="news-title">Scheduling route</h2>
                            <!-- <div class="news-media">
                                <a class="colorbox cboxElement" href="#">
                                    <img class="img-responsive" src="https://www.bootdey.com/image/400x400/FFB6C1/000000" alt="">
                                </a>
                            </div> -->
                            <p>Scheduling route where you can decide the most efficient way to transport your load
                                considering distance time and other constraints</p>
                            <!-- <a class="read-more" href="#">Read More</a> -->
                        </div>
                    </div>

                    <div class="col-sm-6 news-item right">
                        <div class="news-content">

                            <h2 class="news-title">Shipment tracking</h2>
                            <!-- <div class="news-media gallery">
                                <a class="colorbox cboxElement" href="#">
                                    <img class="img-responsive" src="https://www.bootdey.com/image/400x400/87CEFA/000000" alt="">
                                </a>
                                <a class="colorbox cboxElement" href="#"></a>
                            </div> -->
                            <p>Shipment tracking is where you can track the transfer status on your goods when it is on
                                the way towards the recipient. </p>
                            <!-- <a class="read-more" href="#">Read More</a> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">

                            <h2 class="news-title">Vehicle management</h2>
                            <!-- <div class="news-media video">
                                <a class="colorbox-video cboxElement" href="#">
                                    <img class="img-responsive" src="https://www.bootdey.com/image/400x400/7B68EE/000000" alt="">
                                </a>
                            </div> -->
                            <p>Vehicle management where you can select a vehicle for transport in order to ensure the
                                security of your goods.</p>
                            <!-- <a class="read-more" href="#">Read More</a> -->
                        </div>
                    </div>

                    <div class="col-sm-6 news-item right">
                        <div class="news-content">

                            <h2 class="news-title">Optimise load</h2>
                            <!-- <div class="news-media gallery">
                                <a class="colorbox cboxElement" href="#">
                                    <img class="img-responsive" src="https://www.bootdey.com/image/400x400/BA55D3/000000" alt="">
                                </a>
                                <a class="colorbox cboxElement" href="#"></a>
                            </div> -->
                            <p>Optimise load where you can plan on to minimise cost and maximise utilisation.</p>
                            <!-- <a class="read-more" href="#">Read More</a> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>