<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-10">


            <div class=" text-center my-3">
                <h4 class=" text-center">Refund Policy</h4>

            </div>
            <div class="modal-body">
                <p>No Refunds : We are offering an annual package system, so we will not issue refunds once you have
                    selected the package.
                    If you have any questions about our refund policy or require further clarification, please contact
                    us at <a href="mailto:support@tkdconnect.com.">support@tkdconnect.com.</a></p>
            </div>
            <div class="modal-footer border-0">

            </div>
        </div>
        <div class="col"></div>
    </div>
</div>