<section data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title my-5 mx-5">
                    <h2>About TKD </h2>
                    <!-- <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p> -->
                </div>
            </div>
        </div>
        <div class="who my-2">

            <div class="lorem-ipsum-text">
                TKD is a team of highly professional candidates and the team is
                at your service to help you reach farther than you can think of.
                It’s more than just a platform; it’s an extensive marketplace.
                As a marketplace we facilitate the exchange of goods and services within multiple parties.
                We operate on a national scale, connecting suppliers and buyers across PAN India and as a marketplace we
                provide
                opportunities for businesses to expand their reach and access new markets.

                Our mission is to come up with innovative solutions for companies and help them with entire
                transportation work.
                We ensure efficient handling of goods and securely conducting the transport. Companies can rely on our
                team of experts
                whose focus is on performing well-planned, cost-effective and reliable work in the world of logistics.

                Our journey began with a simple idea, to connect companies with reliable logistics service providers
                smoothly.
                Today, we are proud to have created a flourishing ecosystem that benefits both businesses and
                transporters.</div>

        </div>
    </div>
</section>
<app-footer></app-footer>