.who {
    margin: 0px 193px;

}


.lorem-ipsum-text {
    font-size: 16px;
    line-height: 28px;
    font-family: "Poppins";
    text-indent: 30px;
    // text-align: left;
    // display: inline-block;
    opacity: 0.6;
    color: black;
}
.footer {
    position: relative;
    margin-inline: 52px;
    margin-top: 114px;
    margin-bottom: 40px;
    background: #000000;
    padding-inline: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 20px;
}

.help-us-help {
    font-size: 56px;
    letter-spacing: -0.02em;
    font-weight: 300;
    font-family: "Poppins";
    color: #fff;
    text-align: left;
    opacity: 0.5;
}

.join-us-today {
    font-size: 56px;
    letter-spacing: -0.02em;
    font-weight: 800;
    font-family: "Poppins";
    color: #fff;
    text-align: left;
    margin-top: -20px;

}

.lorem-ipsum-text1 {
    font-size: 16px;
    line-height: 28px;
    font-family: "Poppins";
    color: #000000;
    text-align: left;
    display: inline-block;
    opacity: 0.6;
}
p{
    font-family: "Poppins"; 
}

.playimages {
    margin-top: 40px;
    margin-bottom: 40px;
}
.section-title {
    padding-bottom: 45px;
}
.section-title h2 {
    font-weight: 700;
    color: #001E49;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}

hr {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.hr1 {
    width: 25%;
    margin-left: 0px;
    margin-right: auto;
    background-color: #ffffff;
}


.disclaimer-parent {
    display: flex;
}

.disclaimer {
    font-size: 14px;
    text-decoration: underline;
    line-height: 22px;
    font-family: "Poppins";
    color: #fff;
    text-align: left;
    margin-right: 20px;
}

.get-in-touch {
    width: 100%;
    font-size: 22px;
    display: inline-block;
    font-family: "Poppins";
    color: #fff;
    text-align: left;
}

.contactform {
    margin-top: 12px;
}

.form-input {
    border: 0px;
    color: #ffffff;
}

.nameInput,
.emailInput,
textarea {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #fff; // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.submitButton {
    width: 100%;
    position: relative;
    border-radius: 4px;
    background-color: #c3262c;
    display: flex;
    flex-direction: row;
    padding: 14px 32px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: "Poppins";
}

.socialclass {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.iconClasses {
    margin-left: 20px;
}

.our-social-presence {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    font-family: "Poppins";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}
.imageK {
    position: absolute;
    bottom: 0;
    left: 0;
}

.middleImage {
    padding: 0px;
}

.imageK img {
    border-radius: 20px;
}
.textinframe {
    position: absolute;
    top: 20%;
    width: 100%;

}
.its-our-mission {
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 300;
    font-family: "Poppins";
    color: #fff;
    text-align: center;
    opacity: 0.8;
}
.that-makes-us {
    font-size: 25px;
    letter-spacing: -0.02em;
    font-weight: 800;
    font-family: "Poppins";
    color: #fff;
    text-align: center;
}


.video {
    margin-inline: 96px;
}

.image {
    text-align: center;
    position: relative;
    z-index: -1;
}

.image>img {
    border-radius: 20px;
}
@media (max-width:786px) {




    .playimages {
        text-align: center;
    }


    .help-us-help {
        font-size: 52px;
        letter-spacing: -0.02em;
        font-weight: 300;
        font-family: "Poppins";
        color: #fff;
        text-align: center;
        opacity: 0.5;
    }

    .join-us-today {
        font-size: 52px;
        letter-spacing: -0.02em;
        font-weight: 800;
        font-family: "Poppins";
        color: #fff;
        text-align: center;
        margin-top: -20px;

    }


    .footer {
        margin-inline: 0px;
        margin-top: 50px;
        background: #000000;
        padding-inline: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 20px;
    }


    .testi {
        margin-inline: 0px;
    }

    .playButton {
        position: absolute;
        width: 100%;
        top: 56%;


    }

    .its-our-mission {
        font-size: 18px;
        letter-spacing: -0.02em;
        font-weight: 300;
        font-family: "Poppins";
        color: #fff;
        text-align: center;
        opacity: 0.8;
    }

    .that-makes-us {
        font-size: 25px;
        letter-spacing: -0.02em;
        font-weight: 800;
        font-family: "Poppins";
        color: #fff;
        text-align: center;
    }


    .video {
        margin-inline: 0px;
    }

    .why {
        margin-inline: 0px;
        margin-top: 100px;
    }

    .allcards {
        margin-top: 0px;
    }

    .who {
        margin: 0px;
    }

    .vuesaxoutlinearrow-down-icon {
        width: 100%;
        height: 24px;
        margin-top: -10rem;
    }



    .mobile-image {
        margin-left: 0px;
    }

    .one-stop-solution {
        font-size: 33px;
        letter-spacing: -0.02em;
        font-weight: 800;
        font-family: "Poppins";
        color: #001e49;
        margin-top: auto;

    }

    .for-all-logistic {
        font-size: 33px;
        letter-spacing: -0.02em;
        font-weight: 800;
        font-family: "Poppins";
        color: #c3262c;
        margin-top: -20px;

    }

    .mainrow {
        text-align: center;
        padding: 0px;
    }

    .mainCard {
        border-radius: 0px;
        // margin: 114px 0px;
        margin: 0px 0px 114px 0px;

        height: 100%;

    }

    .mainTabs {
        margin: -40px 0px 114px 0px;

    }

    .imageK img {
        border-radius: 20px;
    }

    .storelabels-parent {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
    }



}