

<section data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title my-5 mx-5">
                    <h2>About TKD </h2>
                    <!-- <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p> -->
                </div>
            </div>
        </div>
        <div class="who my-2">
          
            <div class="lorem-ipsum-text">  
              TKD is a team of highly professional candidates and the team is 
                at your service to help you reach farther than you can think of.
                 It’s more than just a platform; it’s an extensive marketplace.
                 As a marketplace we facilitate the exchange of goods and services within multiple parties.
                  We operate on a national scale, connecting suppliers and buyers across PAN India and as a marketplace we provide
                   opportunities for businesses to expand their reach and access new markets.
             
           Our mission is to come up with innovative solutions for companies and help them with entire transportation work.
                 We ensure efficient handling of goods and securely conducting the transport. Companies can rely on our team of experts
                  whose focus is on performing well-planned, cost-effective and reliable work in the world of logistics.
              
             Our journey began with a simple idea, to connect companies with reliable logistics service providers smoothly.
                   Today, we are proud to have created a flourishing ecosystem that benefits both businesses and transporters.</div>

        </div>
    </div>
</section>
<section data-aos="fade-up" data-aos-duration="1000">
    <div class="footer">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-6">
                    <div class="help-us-help">Help us help you</div>
                    <div class="join-us-today">Join us today</div>
                    <div class="lorem-ipsum-text">We are very well equipped with manpower, technology and
                        professionalism. Our goal is to satisfy our client’s needs through our best possible mode. Join
                        us so we can help you and move ahead altogether.</div>
                    <div class="playimages">
                        <a href="https://apps.apple.com/in/app/tkdost/id6443999463" target="_blank"><img
                                src="assets/StoreLabels.svg" alt="" srcset=""></a>
                        <a href="https://play.google.com/store/apps/details?id=com.pdk.tkd" target="_blank"> <img
                                src="assets/StoreLabels (1).svg" style="margin-left: 12px;" alt="" srcset=""></a>
                    </div>
                    <div class="disclaimer-parent">
                        <div><a href="" class="disclaimer">Disclaimer</a></div>
                        <div><a href="" class="disclaimer">Privacy policy</a></div>
                        <div><a href="" class="disclaimer">Terms of use</a></div>
                        <div><a href="" class="disclaimer">Careers</a></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <b class="get-in-touch">Get in touch</b>
                    <form action="" class="contactform">
                        <form class="row g-3">
                            <div class="col-md-12">
                                <input type="text" class="form-control form-input nameInput " placeholder="Name">
                            </div>
                            <div class="col-md-12">
                                <input type="email" placeholder="Email" class="form-control form-input emailInput">
                            </div>
                            <div class="col-12">
                                <textarea type="text" rows="3" class="form-control form-input"
                                    placeholder="Enter Message (300 character max)"></textarea>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn submitButton">Submit</button>
                            </div>
                        </form>
                        <div class="socialclass">
                            <div class="our-social-presence">Our social presence</div>
                            <div>
                                <img src="assets/Social Media.svg" class="img-fluid" alt="" srcset="">
                                <img src="assets/Social Media(1).svg" class="img-fluid iconClasses" alt="" srcset="">
                                <img src="assets/Social Media(2).svg" class="img-fluid iconClasses" alt="" srcset="">
                                <img src="assets/Social Media(4).svg" class="img-fluid iconClasses" alt="" srcset="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="imageK">
            <img src="assets/K.svg" alt="" srcset="">
        </div>
    </div>

</section>