<section class="section services-section" id="services" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Our Services</h2>
                    <!-- <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <!-- <div class="icon">
                        <i class="fa fa-desktop"></i>
                    </div> -->
                    <div class="feature-content">
                        <h5>TKD CONNECT APP</h5>
                        <p>TKD connect is here to help you spread your network in seconds at the ease of your
                            fingertips. It is an app that will smarten up the entire operations within logistics. TKD
                            Connect App is a platform where you can view load postings, vehicle searches, job postings
                            and build up the network. TKD Connect App is your one stop solution for you being a shipper,
                            transporter, logistics company, or a supply chain expert, you mention it and we shall get
                            you on track smoothly and correctly.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <!-- <div class="icon">
                        <i class="fa fa-user"></i>
                    </div> -->
                    <div class="feature-content">
                        <h5>CTMS</h5>
                        <p>CTMS stands for Comprehensive Transport Management System. The system is built to simplify
                            the procedures applied to logistic services. It is basically a software panel whose
                            objective is to save time and enhance various sections of the transportation and logistics
                            operations. CTMS encloses processes namely route planning, fleet management, order tracking,
                            load optimization etc. CTMS software is repeatedly used by transportation companies,
                            logistics providers and supply chain managers. Using this software is beneficial for one and
                            all. It improves productivity, cost-efficiency and provides a visual idea of their
                            transportation processes. Using CTMS software simplifies the effort and makes the user aware
                            regarding the whereabouts of their valuables in conduct.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <!-- <div class="icon">
                        <i class="fa fa-comment"></i>
                    </div> -->
                    <div class="feature-content">
                        <h5>WHITE LABEL</h5>
                        <p>White label is our uniqueness. Here it's like, your business, your brand name with your
                            colour choices and what we will provide is our expertise in expanding your business. This is
                            the setup where all the features of CTMS will be operable under your brand name which will
                            be whole and sole powered by TKD.

                            So, White Label is double powered and a customised concept. It holds all the features of TKD
                            as well as CTMS and also holds designs of customer’s choice. It provides you great
                            assistance to excel in your business smartly and conveniently.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>
<section data-aos="fade-up" data-aos-duration="1000">
    <div class="footer">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-6">
                    <div class="help-us-help">Help us help you</div>
                    <div class="join-us-today">Join us today</div>
                    <div class="lorem-ipsum-text" style="color: white;">We are very well equipped with manpower,
                        technology and
                        professionalism. Our goal is to satisfy our client’s needs through our best possible mode. Join
                        us so we can help you and move ahead altogether.</div>
                    <div class="playimages">
                        <a href="https://apps.apple.com/in/app/tkdost/id6443999463" target="_blank"><img
                                src="assets/StoreLabels.svg" alt="" srcset=""></a>
                        <a href="https://play.google.com/store/apps/details?id=com.pdk.tkd" target="_blank"> <img
                                src="assets/StoreLabels (1).svg" style="margin-left: 12px;" alt="" srcset=""></a>
                    </div>
                    <div class="disclaimer-parent">
                        <!-- <div><a href="" class="disclaimer">Disclaimer</a></div>
                        <div><a href="" class="disclaimer">Privacy policy</a></div> -->
                        <div><a href="https://s3.ap-south-1.amazonaws.com//tkd-images/profileImages//1703832962255-tkdEmail.pdf"
                            target="_blank" class="disclaimer">Terms and Condition</a></div>                        <!-- <div><a href="" class="disclaimer">Careers</a></div> -->
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <b class="get-in-touch">Get in touch</b>
                    <form action="" class="contactform">
                        <form class="row g-3">
                            <div class="col-md-12">
                                <input type="text" class="form-control form-input nameInput " placeholder="Name">
                            </div>
                            <div class="col-md-12">
                                <input type="email" placeholder="Email" class="form-control form-input emailInput">
                            </div>
                            <div class="col-12">
                                <textarea type="text" rows="3" class="form-control form-input"
                                    placeholder="Enter Message (300 character max)"></textarea>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn submitButton">Submit</button>
                            </div>
                        </form>
                        <div class="socialclass d-none">
                            <div class="our-social-presence">Our social presence</div>
                            <div>
                                <a href=""> <img src="assets/Social Media.svg" class="img-fluid" alt="" srcset=""></a>
                                <a href=""> <img src="assets/Social Media(1).svg" class="img-fluid iconClasses" alt=""
                                        srcset=""></a>
                                <a href=""> <img src="assets/Social Media(2).svg" class="img-fluid iconClasses" alt=""
                                        srcset=""></a>
                                <a href=""> <img src="assets/Social Media(4).svg" class="img-fluid iconClasses" alt=""
                                        srcset="">
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mt-3 text-light">
                <b>Refund Policy:</b> &nbsp; <span class="fs-6">As we offer annual packages,we don't offer
                    refunds.</span>
            </div>
            <div class="text-center text-light mt-3">
                <b>TKD DIGITRANS TECH PRIVATE LTD</b>
            </div>
        </div>
        <div class="imageK">
            <img src="assets/K.svg" alt="" srcset="">
        </div>
    </div>

</section>