/* You can add global styles to this file, and also import other style files */

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';




$logibbutton: #001e49;

::-webkit-scrollbar {
    display: none;
}

.loginButton {
    background-color: $logibbutton !important;
    color: white !important;
}
